*,
*::after,
*::before {
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// Reset Styles
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background:rgb(14, 47, 86);
  overflow: hidden;
  color: white;
}

body::before {
  content: "";
  width: 200%;
  height: 200%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  opacity: 0.25;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}