*,
*::after,
*::before {
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
}

// Reset Styles
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background:rgb(14, 47, 86);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}